.header{
    display: flex;
    flex-direction: row;
    height: 55px;
    width: 100%;
    border: 1px solid rgb(216, 190, 141);
    
}
.col2{
    margin-left: 1250px;
}
.images{
    height: 200px;
    width: 250px;
}